{% extends "base.html" %}
{% load static %}

{% block title %}
    Posts Feed
{% endblock %}

{% block content %}
<div class="container-fluid posts-container">

   <!-- Form update success message -->
{% if messages %}
{% for message in messages %}
<div class="text-center alert alert-primary {{ message.tags }}" role="alert">
  {{ message }}
</div>
{% endfor %}
{% endif %}

  <div class="row">
    <div class="col-lg-3 profile-sidebar">
      {% block sidebar %}
    <nav>
        {% include "socialnetwork/sidebar.html" %}
    </nav>
      {% endblock %}
      
    </div>

    <!-- Post Feed -->
    <div class="col-lg-5 user-post-feed">
      <h3>Post Feed</h3>
      {% for post in object_list %}
      <div class="row">

        <div class="card text-white bg-dark user-posts" style="width: 40rem;">
          <div class="card-header">
            <h6>Created by:</h6>
              <a href="{% url 'usersprofile' post.author.pk %}" class="d-flex align-items-center text-white text-decoration-none"
                aria-expanded="false">
                <img src="{{user.userprofile.user_picture.url}}" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong>{{ post.author }}</strong>
              </a>
              <p class="card-text post-time">{{ post.created_time }}</p>

          </div>
          <div class="card-body">
            <h4 class="card-title">{{ post.title }} </h4>
            <p class="card-text post-body">{{ post.body }}</p>
            {% if post.post_picture %}
              <img src="{{post.post_picture.url}}" class="img-thumbnail post-pic" alt="user-profile-image" multiple>
            {% endif %}
            <div class="d-flex flex-row">
              <form method="POST" action="{% url 'likes' post.pk %}" class="" enctype=multipart/form-data>
                {% csrf_token %}
                
                <button type="submit" class="btn btn-primary btn-lg like-btn"><i class="fa-solid fa-thumbs-up"></i><span>{{ post.likes.all.count }}</span></button>
              </form>


            </div>
            {% if post.author == request.user %}
            <a href="{% url 'edit-posts' post.pk %}" class="btn btn-primary post-btn">Edit Post <i class="fa-solid fa-pen"></i></a>
            <a href="{% url 'delete-posts' post.pk %}" class="btn btn-danger post-btn">Delete Post <i class="fa-solid fa-trash"></i></a>
            {% endif %}
            
            <div>
              <button class="comment-btn">Comment<i class="fa-solid fa-comments"></i></button>
              <ul class="comments">
                {% if not post.comments.all %}

                <li><hr class="dropdown-divider"></li>
                
                <p>No comments yet...</p>
                <a href="{% url 'comment' post.pk %}">Add Comment<i class="fa-solid fa-pen"></i></a>
                {% else %}
                {% for comment in post.comments.all %}
                <li>
                  <li><hr class="dropdown-divider"></li>
                  <h6>Comment by: {{ comment.users}}</h6>
                  <p>{{ comment.body}}</p>
                  <p>Date: {{ comment.comment_created}}</p>

                  {% if comment.users == request.user %}
                  <a href="{% url 'edit-comment' comment.pk %}" class="btn btn-primary post-btn">Edit Comment <i class="fa-solid fa-pen"></i></a>
                  <a href="{% url 'delete-comment' comment.pk %}" class="btn btn-danger post-btn">Delete Comment <i class="fa-solid fa-trash"></i></a>
                  {% endif %}

                </li>
                {% endfor %}
                <a href="{% url 'comment' post.pk %}">Add Comment<i class="fa-solid fa-pen"></i></a>
                {% endif %}
                <li><hr class="dropdown-divider"></li>
              </ul>

            </div>



          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <!-- Post Feed -->
    

  </div>
</div>

{% endblock %}