{% load static %}

{% block sidebar %}
<div class=" d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar" style="width: 280px;">
    <h2 class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
      Hello, {{ user }}
    </h2>
    <hr>
    {% with request.resolver_match.url_name as url_name %}
    <ul class="nav nav-pills flex-column mb-auto sidebar-menu" data-target="#spy-scroll-id">
      <li class="nav-item">
        <a href="{% url 'profile' %}" class=" nav-link {% if url_name == 'profile' %}active{% endif %}">
          <i class="fa-solid fa-user"></i>My Profile
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'my-posts' %}" class=" nav-link {% if url_name == 'my-posts' %}active{% endif %}" aria-current="page">
          <i class="fa-solid fa-address-card"></i>My Posts Feed
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'posts' %}" class=" nav-link {% if url_name == 'posts' %}active{% endif %}" aria-current="page">
          <i class="fa-solid fa-rss"></i>Posts Feed
        </a>
      </li>
    </ul>
    {% endwith %}
    <hr>
  </div>
  {% endblock %}