<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span class="fs-4">My Profile</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="{% url 'post' %}"" class="nav-link" aria-current="page">
          Posts Feed
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          Friends
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          Message
        </a>
      </li>
      <li>
        <a href="{% url 'profile' %}" class="nav-link active text-white">
          My Profile
        </a>
      </li>
    </ul>
    <hr>
  </div>