body {
    background-color: rgb(37, 37, 37);
    color: rgb(255, 255, 255);
}

#landing {
    background-color: rgb(94, 71, 55);
}

.landing-area {
    min-height: 80vh;
}

.landing-text {
    background-color: rgb(108, 108, 165);
}

.signup-form {
    background-color: rgb(158, 168, 148);
}

/* AllAuth  */

.signup-container {
    background-color: rgb(42, 165, 63);
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    padding: 50px 20px;
    border-radius: 20px;
}

#signup_form {
    background-color: rgb(31, 59, 182);
}
