{% extends "base.html" %}

{% block title %}
My Profile
{% endblock %}

{% block content %}

<div class="container-fluid" id="profile-container">
    <div class="row">
        <div class="col-lg-3 profile-sidebar">
            <div class="text-white bg-dark" style="width: 280px;">
                <a href="/" class="text-white text-decoration-none">
                  <span class="fs-4">Hello, {{ user }}</span>
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                  <li class="nav-item">
                    <a href="#" class="nav-link active" aria-current="page">
                      Posts
                    </a>
                  </li>
                  <li>
                    <a href="#" class="nav-link text-white">
                      Friends
                    </a>
                  </li>
                  <li>
                    <a href="#" class="nav-link text-white">
                      Chat
                    </a>
                  </li>
                </ul>
                <hr>
                <div class="dropdown">
                  <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                    <strong>{{ user }}</strong>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                    <li><a class="dropdown-item" href="#">New project...</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                  </ul>
                </div>
              </div>
            </div>
                {% if user.is_authenticated %}
            <div class="col-lg-4">

                <img src="{{users_profile.user_picture.url}}" class="profile-pic" alt="">
              </div>
            <div class="col-lg-5">
                <p>User: {{ users_profile.user }}</p>
                <p>First Name: {{ users_profile.first_name }}</p>
                <p>Last Name: {{ users_profile.last_name }}</p>
                <p>Email: {{ users_profile.email }}</p>
                <p>Bio: {{ users_profile.bio }}</p>
                <p>Favourite Game: {{ users_profile.favourite_game }}</p>
                
                {% else %}
                
                <p>Please login</p>
                
                {% endif %}
    
            </div>

    </div>

</div>
 
    
{% endblock %}