{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
My Profile
{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<div class="container-fluid" id="profile-container">
  <div class="row">
    <div class="col-lg-3 profile-sidebar">
      <div class="text-white bg-dark" style="width: 280px;">
        <a href="/" class="text-white text-decoration-none">
          <span class="fs-4">Hello, {{ user }}</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a href="#" class="nav-link active" aria-current="page">
              Posts
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              Friends
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              Chat
            </a>
          </li>
        </ul>
        <hr>
      </div>
    </div>

    <div class="col-lg-4">
      <img src="{{userprofile.user_picture.url}}" class="profile-pic" alt="">
    </div>
    <div class="col-lg-4">

    <!-- Form update success message -->
    {% if messages %}
      {% for message in messages %}
        <div class="text-center alert alert-primary {{ message.tags }}" role="alert">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}

    <!-- User Profile edit section -->

      <table class="table profile-table table-dark table-striped">
        <tbody>
          <tr class="">
            <td class="">Username: {{ user }}</td>
          </tr>
          <tr class="">
            <td class="">First Name: {{ user.userprofile.first_name }}</td>
          </tr>
          <tr class="">
            <td class="">Last Name: {{ user.userprofile.last_name }}</td>
          </tr>
          <tr class="">
            <td class="">Email: {{ user.userprofile.email }}</td>
          </tr>
          <tr class="">
            <td class="">Bio: {{ user.userprofile.bio }}</td>
          </tr>
          <tr class="">
            <td class="">Favourite Game: {{ user.userprofile.favourite_game }}</td>
          </tr>
          <tr class="">
            <td class="">Country: {{ user.userprofile.country }}</td>
          </tr>
        </tbody>
      </table>

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Update Profile
      </button>

      <!-- Modal -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form method="POST" action="" class="" enctype=multipart/form-data>
                {% csrf_token %}

                {{ form | crispy}}

                <!-- <button type="submit" class="btn btn-primary"> Update</button> -->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary"> Update</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      {% else %}

      <p>Please login</p>

      {% endif %}

    </div>

  </div>

</div>

{% endblock %}